<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css" />
 
    <link href="https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Dancing+Script&family=Delius+Swash+Caps&family=Merienda+One&family=Oleo+Script&family=Paprika&family=Sofia&family=Tangerine&display=swap" rel="stylesheet">



    <title>Botany Plants Lately</title>
</head>
<body>
      <div class="container">   
        <div class="topnav">
          <a class="active" href="/">Home</a>
            <a href="#Login" onclick="document.getElementById('id01').style.display='block'">Login</a>
           
        <!---<a href="#toxicity">Toxicity</a>--->
             <a href="/zodiac">Zodiac Plants</a>
             <a href="/holistic">Holistic</a>
             <form id="form">
              <input type="search" id="query" name="q" placeholder="Search..."><button class="btn-submit">Submit</button>
            </form>
              </div>  
              <br>
     <main class="container container-fluid mt-5">
    {{{body}}}
  </main>
 
  <script src="/js/login.js"></script>
  <script src="/js/plant-search.js"></script>
  
</body>
</html>