<head>

      <link rel="stylesheet" href="/css/hlogin.css" />
      <link rel="stylesheet" href="/css/holistic.css" />
      

</head>

<div class="container">   
        
     <!---- <Main-photo at the top of the welcome page>-->
      <h1>The healing abilities of Plants</h1>   
      <p1>Plants are incredibly versitile. Not only can they filter the air we breathe, they are able to help us with our physical ailments. From common colds to burns, there are many plants that can help us live a healthier life. Below is a list of these plants. Have a look and see which plants can help improve your health. </p1> 
      
      <p1><i>Please consult your healthcare physician prior to adding anything to your diet. The information provided here is not intended to take the place of a physicians advice.</i></p1>
      
      <!---<img class="main-image" src="/images/BPLBannerPic.jpg">--->
        <br>
        <br>

        <div class="container-pod">
          
          <img class="image-pod" src="/images/Aloe.png">
          
          <div class="pod-content">
          <h2> <a href="https://www.pennmedicine.org/updates/blogs/health-and-wellness/2019/august/aloe">Aloe Vera</a></h2>
          <p> The Aloe vera plant has been used for thousands of years to heal a variety of conditions, most notably burns, wounds, skin irritations, and constipation. It is grown in subtropical and tropical locations, including South Africa, Latin America, and the Caribbean. Aloe was one of the most frequently prescribed medicines throughout most of the 18th and 19th centuries and it remains one of the most commonly used herbs in the United States today. However, oral use of aloe for constipation is no longer recommended, as it can have severe side effects. To learn more about this hollistic herb, simply click on it's name above.</p>
         </div>
       </div>

           <div class="container-pod">
            <img class="image-pod" src="/images/Angelica.png">
            <div class="pod-content">
            <h2><a href="https://www.rebeccasherbs.com/pages/herb-article-br-angelica">Angelica</a></h2>
            <p>Herbalists of ancient European tradition praised Angelica archangelica as a panacea with special curative properties against contagious diseases. Legend has it that Angelica was revealed to a Benedictine monk by an angel to cure the plague. Modern clinical studies have shown that Angelica possesses constituents with antimicrobial and antiseptic properties. In The Complete Herbal, the legendary English physician and herbalist Nicholas Culpeper described Angelica's 'angelical virtues' as the plant's ability to 'resist poison by defending and comforting the heart, blood, and spirits.' Love of Angelica during this time earned it the name 'root of the holy ghost. To learn more about this hollistic herb, simply click on it's name above.</p>
        </div>
      </div>
               
           <div class="container-pod">
            <img class="image-pod" src="/images/Anise.png">
            <div class="pod-content">
            <h2> <a href="https://www.webmd.com/diet/health-benefits-anise">Anise</a></h2>
            <p>Anise is a folk remedy around the world, used for everything from coughs and colds to stomach problems. Scientists are starting to figure out the chemical processes behind these benefits and identify even more uses for anise.To learn more about this hollistic herb, simply click on it's name above. </p>
           </div>
         </div>


         <div class="container-pod">
            <img class="image-pod" src="/images/Arnica.png">
            <div class="pod-content">
            <h2> <a href="https://www.mountsinai.org/health-library/herb/arnica">Arnica</a></h2>
            <p> Arnica (Arnica montana) has been used for medicinal purposes since the 1500s and is still popular today. Applied to the skin as a cream, ointment, liniment, salve, or tincture, arnica has been used to soothe muscle aches, reduce inflammation, and heal wounds. It is commonly used for injuries, such as sprains and bruises. As an herb, arnica is usually used topically (on the skin) because it can cause serious side effects when taken by mouth. Oral homeopathic remedies do contain arnica, but they use a diluted form that is not considered dangerous. If you have any question about whether you have the herbal or homeopathic form of arnica, talk to your doctor. To learn more about this hollistic herb, simply click on it's name above.</p>
            </div>
            </div>
             
            <div class="container-pod">
            <img class="image-pod" src="/images/Ashwagandha.png">
          <div class="pod-content">
          <h2> <a href="https://www.webmd.com/vitamins/ai/ingredientmono-953/ashwagandha">Ashwagandha</a></h2>
          <p> Ashwagandha is an evergreen shrub that grows in Asia and Africa. It is commonly used for stress. There is little evidence for its use as an "adaptogen."

            Ashwagandha contains chemicals that might help calm the brain, reduce swelling, lower blood pressure, and alter the immune system.To learn more about this hollistic herb, simply click on it's name above.</p>
         </div>
       </div>

         <div class="container-pod">
          <img class="image-pod" src="/images/Basil.png">
          <div class="pod-content">
          <h2> <a href="https://www.webmd.com/diet/health-benefits-basil">Basil</a></h2>
          <p>Basil is full of antioxidants. Sweet basil contains a compound called eugenol, and lime and lemon basils have limonene. These antioxidants, along with others such as anthocyanins and beta-carotene, help to fight free radicals in the body that can otherwise lead to cell damage and increase your risk for a variety of health conditions, including cancer, heart disease, arthritis, and diabetes. To learn more about this hollistic herb, simply click on it's name above. </p>
         </div>
       </div>

       <div class="container-pod">
        <img class="image-pod" src="/images/BayLeaf.png">
        <div class="pod-content">
        <h2> <a href="https://www.nature-and-garden.com/health/bay-laurel-health-benefits.html">Bay Leaf (Bay Laurel)</a></h2>
        <p>Bay Leaf eases digestion and reduces flatulence; soothes urinary tract infections and dental infections; offers antiseptic and bactericidal properties; soothes pain due to sore throat; used with other treatments, it helps treat flu-related symptoms (cough, bronchitis, obstructed sinuses, etc.) To learn more about this hollistic herb, simply click on it's name above.</p>
       </div>
     </div>

     <div class="container-pod">
      <img class="image-pod" src="/images/Borage.png">
      <div class="pod-content">
      <h2> <a href="https://www.webmd.com/vitamins/ai/ingredientmono-596/borage">Borage</a></h2>
      <p>Anise is a folk remedy around the world, used for everything from coughs and colds to stomach problems. Scientists are starting to figure out the chemical processes behind these benefits and identify even more uses for anise. To learn more about this hollistic herb, simply click on it's name above.</p>
     </div>
   </div>

   <div class="container-pod">
    <img class="image-pod" src="/images/Chamomile.png">
   <div class="pod-content">
    <h2> <a href="https://www.webmd.com/vitamins/ai/ingredientmono-596/chamomile">Chamomile</a></h2>
    <p>Chamomile has been used as a traditional medicine for thousands of years to calm anxiety and settle stomachs. In the U.S., chamomile is best known as an ingredient in herbal tea. To learn more about this hollistic herb, simply click on it's name above.</p>
   </div>
 </div>

   <div class="container-pod">
    <img class="image-pod" src="/images/Chervil.png">
    <div class="pod-content">
    <h2> <a href="https://www.healthifyme.com/blog/chervil/">Chervil</a></h2>
    <p> Chervil has been used by herbalists for several medicinal purposes throughout history. Chervil has been used in the past as a diuretic, expectorant, digestive aid and skin freshener. It was also thought to relieve symptoms of eczema, gout, kidney stones, and pleurisy. To learn more about this hollistic herb, simply click on it's name above.</p>
   </div>
 </div>

 <div class="container-pod">
  <img class="image-pod" src="/images/Chives.png">
  <div class="pod-content">
  <h2> <a href="https://www.healthifyme.com/blog/chives-benefits/">Chives</a></h2>
  <p> Chives are rich in vitamin C for immune system activity, as well as vitamin K for optimal blood clotting and wound healing mechanism, besides bone health. They possess vast reserves of vitamin A for improving eyesight and are very low in calories, fats for accelerating weight loss. To learn more about this hollistic herb, simply click on it's name above.</p>
 </div>
</div>

<div class="container-pod">
  <img class="image-pod" src="/images/Corriander.png">
  <div class="pod-content">
  <h2> <a href="https://www.webmd.com/diet/health-benefits-coriander">Corriander</a></h2>
  <p> Coriander is a fragrant, antioxidant-rich herb that has many culinary uses and health benefits. It may help lower your blood sugar, fight infections, and promote heart, brain, skin, and digestive health.To learn more about this hollistic herb, simply click on it's name above.</p>
 </div>
</div>
 
<div class="container-pod">
  <img class="image-pod" src="/images/dill.png">
  <div class="pod-content">
  <h2> <a href="https://www.webmd.com/diet/health-benefits-dill">Dill</a></h2>
  <p>In traditional herbal medicine, dill has been used to help manage and prevent digestive ills and bad breath, to promote lactation and also to lower cholesterol and blood sugar. Some of these purported benefits are also backed up by newer research, which confirms that dill may help lower cholesterol and improve blood sugar control (for those who have diabetes). To learn more about this hollistic herb, simply click on it's name above.</p>
 </div>
</div>

<div class="container-pod">
  <img class="image-pod" src="/images/Echinacea.png">
  <div class="pod-content">
  <h2> <a href="https://www.webmd.com/diet/health-benefits-echinacea">Echinacea</a></h2>
  <p>Echinacea contains active substances that boost immune function, relieve pain, reduce inflammation, and have hormonal, antiviral, and antioxidant effects. To learn more about this hollistic herb, simply click on it's name above.</p>
 </div>
</div>

<div class="container-pod">
  <img class="image-pod" src="/images/Fennel.png">
  <div class="pod-content">
  <h2> <a href="https://draxe.com/nutrition/fennel-benefits/">Fennel</a></h2>
  <p>Fennel contains beta-carotene (which is converted to vitamin A in the body) and vitamin C, which is important for collagen production and tissue repair. Both these nutrients play an important role in maintaining the health of the skin, as well as the mucous membranes that protect organs like the respiratory tract. To learn more about this hollistic herb, simply click on it's name above.</p>
 </div>
</div>

<div class="container-pod">
  <img class="image-pod" src="/images/Garlic.png">
  <div class="pod-content">
  <h2> <a href="https://www.healthline.com/nutrition/11-proven-health-benefits-of-garlic#4.-The-active-compounds-in-garlic-can-reduce-blood-pressure">Garlic</a></h2>
  <p>Garlic is widely recognized for its ability to fight bacteria, viruses, fungi, and even parasites. One study found that allicin, an active component of freshly crushed garlic, had antiviral properties and was also effective against a broad range of bacteria, including multidrug-resistant strains of E. coli. To learn more about this hollistic herb, simply click on it's name above.</p>
 </div>
</div>

<div class="container-pod">
  <img class="image-pod" src="/images/Ginger.png">
  <div class="pod-content">
  <h2> <a href="https://www.hopkinsmedicine.org/health/wellness-and-prevention/ginger-benefits">Ginger</a></h2>
  <p>Ginger increases serotonin and dopamine levels. This can reduce inflammation, which may cause depression. Ginger could also provide benefits for anxiety, depression, dementia, Alzheimer's disease and post-traumatic stress disorder. Ease stomach pains: Ginger can treat nausea and motion sickness. To learn more about this hollistic herb, simply click on it's name above.</p>
 </div>
</div>

<div class="container-pod">
  <img class="image-pod" src="/images/GreatBurdock.png">
  <div class="pod-content">
  <h2> <a href="https://www.rxlist.com/burdock/supplements.htm">Great Burdock</a></h2>
  <p>People take burdock to increase urine flow, kill germs, reduce fever, and “purify” their blood. It is also used to treat colds, cancer, anorexia nervosa, gastrointestinal (GI) complaints, joint pain (rheumatism), gout, bladder infections, complications of syphilis, and skin conditions including acne and psoriasis. To learn more about this hollistic herb, simply click on it's name above.</p>
 </div>
</div>

<div class="container-pod">
  <img class="image-pod" src="/images/Horseradish.png">
  <div class="pod-content">
  <h2> <a href="https://www.webmd.com/diet/health-benefits-horseradish">Horseradish</a></h2>
  <p>Almost every part of the horseradish plant has medicinal value. Horseradish contains compounds called glucosinolates, which promote healthy cell growth and increase the liver's ability to detoxify carcinogens. Glucosinolates are commonly found in many cruciferous vegetables, but horseradish has up to 10 times more than broccoli! To learn more about this hollistic herb, simply click on it's name above.</p>
 </div>
</div>

<div class="container-pod">
  <img class="image-pod" src="/images/Kava.png">
  <div class="pod-content">
  <h2> <a href="https://www.webmd.com/vitamins-and-supplements/what-is-kava-kava#:~:text=Kava%20kava%20(%E2%80%9Ckava%E2%80%9D%20for,and%20in%20health%20food%20stores.">Kava</a></h2>
  <p>Kava kava (“kava” for short) contains substances called kavapyrones. They act much like alcohol on your brain, making you feel calm, relaxed, and happy. The plant is also thought to relieve pain, prevent seizures, and relax muscles. To learn more about this hollistic herb, simply click on it's name above.</p>
 </div>
</div>

<div class="container-pod">
  <img class="image-pod" src="/images/Khus.png">
  <div class="pod-content">
  <h2> <a href="https://www.grazia.co.in/lifestyle/health-and-wellness/the-multiple-physical-mental-health-benefits-of-khus-khus-aka-poppy-seeds-6617-1.html">Khus</a></h2>
  <p>Poppy seeds (khus seeds) are used in baked goods and traditional dishes worldwide. Both the seeds and their oil offer various health benefits, from treating headaches and coughs to curing asthma and insomnia. In today's time, for people who are suffering emotionally, poppy seeds have the perfect composition of iodine, calcium, magnesium, and copper that helps in maintaining a healthy nervous system which results in healthy mental and emotional health and instantly calms the mind.  To learn more about this hollistic herb, simply click on it's name above.</p>
 </div>
</div>

<div class="container-pod">
  <img class="image-pod" src="/images/Lavender.png">
  <div class="pod-content">
  <h2> <a href="https://www.everydayhealth.com/diet/what-are-possible-benefits-lavender-must-know-facts-about-therapeutic-plant/">Lavender</a></h2>
  <p>Lavender oil is believed to have antiseptic and anti-inflammatory properties, which can help to heal minor burns and bug bites.

    Research suggests that it may be useful for treating anxiety, insomnia, depression, and restlessness.
    
    Some studies suggest that consuming lavender as a tea can help digestive issues such as vomiting, nausea, intestinal gas, upset stomach, and abdominal swelling.
    
    In addition to helping with digestive problems, lavender is used to help relieve pain from headaches, sprains, toothaches, and sores. It can also be used to prevent hair loss. To learn more about this hollistic herb, simply click on it's name above.</p>
 </div>
</div>

<div class="container-pod">
  <img class="image-pod" src="/images/LemonBalm.png">
  <div class="pod-content">
  <h2> <a href="https://www.mountsinai.org/health-library/herb/lemon-balm#:~:text=Lemon%20balm%20(Melissa%20officinalis)%2C,%2C%20as%20well%20as%20colic).">Lemon Balm</a></h2>
  <p>Lemon balm (Melissa officinalis), a member of the mint family, is considered a calming herb. It was used as far back as the Middle Ages to reduce stress and anxiety, promote sleep, improve appetite, and ease pain and discomfort from indigestion (including gas and bloating, as well as colic). To learn more about this hollistic herb, simply click on it's name above.</p>
 </div>
</div>

<div class="container-pod">
  <img class="image-pod" src="/images/Lovage.png">
  <div class="pod-content">
  <h2> <a href="https://www.verywellhealth.com/lovage-benefits-side-effects-dosage-and-interactions-4686373">Lovage</a></h2>
  <p>Like many other green, leafy herbs, lovage is low in calories and contains lots of vitamin C. One of its most distinctive characteristics is its hefty quercetin content. Lovage has also been known as a medicinal herb for ailments including pain, inflammation, indigestion, joint pain and headaches To learn more about this hollistic herb, simply click on it's name above.</p>
 </div>
</div>

<div class="container-pod">
  <img class="image-pod" src="/images/Marshmallow.png">
  <div class="pod-content">
  <h2> <a href="https://www.webmd.com/vitamins/ai/ingredientmono-774/marshmallow#:~:text=Marshmallow%20is%20sometimes%20used%20to,Malva%20sylvestris)%20flower%20and%20leaf.">Marshmallow</a></h2>
  <p>Marshmallow is sometimes used to form a protective layer on the skin and lining of the digestive tract. It also contains chemicals that might decrease cough and fight infections. Don't confuse marshmallow with the mallow (Malva sylvestris) flower and leaf. To learn more about this hollistic herb, simply click on it's name above.</p>
 </div>
</div>

<div class="container-pod">
  <img class="image-pod" src="/images/Peppermint.png">
  <div class="pod-content">
  <h2> <a href="https://www.webmd.com/diet/ss/slideshow-health-benefits-peppermint">Peppermint</a></h2>
  <p>Today, peppermint is promoted for irritable bowel syndrome (IBS), other digestive problems, the common cold, sinus infections, headaches, and other conditions. Peppermint oil is promoted for topical use (applied to the skin) for problems like headache, muscle aches, joint pain, and itching. To learn more about this hollistic herb, simply click on it's name above.</p>
 </div>
</div>

<div class="container-pod">
  <img class="image-pod" src="/images/Rosemary.png">
  <div class="pod-content">
  <h2> <a href="https://www.webmd.com/diet/health-benefits-rosemary#:~:text=Studies%20have%20shown%20that%20the,any%20infections%20that%20do%20occur.">Rosemary</a></h2>
  <p>Studies have shown that the carnosic and rosmarinic acids in rosemary have powerful antibacterial, antiviral, and antifungal properties. Consuming rosemary regularly can potentially help lower the risk of infection and help the immune system fight any infections that do occur. To learn more about this hollistic herb, simply click on it's name above.</p>
 </div>
</div>

<div class="container-pod">
  <img class="image-pod" src="/images/Sage.png">
  <div class="pod-content">
  <h2> <a href="https://www.webmd.com/vitamins/ai/ingredientmono-504/sage">Sage</a></h2>
  <p>People commonly use sage for memory and thinking skills, high cholesterol, and symptoms of menopause. It is also used for pain after surgery, lung cancer, sore throat, sunburn, and many other conditions, but there is no good scientific evidence to support these uses. To learn more about this hollistic herb, simply click on it's name above.</p>
 </div>
</div>

<div class="container-pod">
  <img class="image-pod" src="/images/SiberianGinseng.png">
  <div class="pod-content">
  <h2> <a href="https://www.mountsinai.org/health-library/herb/siberian-ginseng">Siberian Ginseng</a></h2>
  <p>Siberian ginseng was traditionally used to prevent colds and flu and to increase energy, longevity, and vitality. It is widely used in Russia as an "adaptogen." An adaptogen is a substance that is supposed to help the body better cope with either mental or physical stress. To learn more about this hollistic herb, simply click on it's name above.</p>
 </div>
</div>

<div class="container-pod">
  <img class="image-pod" src="/images/Stevia.png">
  <div class="pod-content">
  <h2> <a href="https://www.webmd.com/food-recipes/what-is-stevia">Stevia</a></h2>
  <p>Stevia is often touted as a safe and healthy sugar substitute that can sweeten up foods without the negative health effects linked to refined sugar. It's also associated with several impressive health benefits, such as reduced calorie intake, blood sugar levels, and risk of cavities  To learn more about this hollistic herb, simply click on it's name above.</p>
 </div>
</div>

<div class="container-pod">
  <img class="image-pod" src="/images/TeaTree.png">
  <div class="pod-content">
  <h2> <a href="https://www.mayoclinic.org/drugs-supplements-tea-tree-oil/art-20364246">Tea Tree</a></h2>
  <p>Tea tree oil, also known as melaleuca oil, is an essential oil that comes from steaming the leaves of the Australian tea tree. When used topically, tea tree oil is believed to be antibacterial. Tea tree oil is commonly used to treat acne, athlete's foot, lice, nail fungus and insect bites. To learn more about this hollistic herb, simply click on it's name above.</p>
 </div>
</div>

<div class="container-pod">
  <img class="image-pod" src="/images/Tyme.png">
  <div class="pod-content">
  <h2> <a href="https://www.webmd.com/diet/thyme-tea-health-benefits#:~:text=Thyme%20also%20contains%20a%20variety,bone%20development%20and%20blood%20clotting.">Tyme</a></h2>
  <p>Thyme contains a variety of minerals and vitamins that promote good health. Thyme is full of vitamin C for immune support, potassium for healthy cells, and manganese for bone development and blood clotting. To learn more about this hollistic herb, simply click on it's name above.</p>
 </div>
</div>

<div class="container-pod">
  <img class="image-pod" src="/images/Tumeric.png">
  <div class="pod-content">
  <h2> <a href="https://www.nccih.nih.gov/health/turmeric">Tumeric</a></h2>
  <p>In India, it was traditionally used for disorders of the skin, upper respiratory tract, joints, and digestive system. Today, turmeric is promoted as a dietary supplement for a variety of conditions, including arthritis, digestive disorders, respiratory infections, allergies, liver disease, depression, and many others. To learn more about this hollistic herb, simply click on it's name above.</p>
 </div>
</div>

<div class="container-pod">
  <img class="image-pod" src="/images/ValerianRoot.png">
  <div class="pod-content">
  <h2> <a href="https://www.google.com/search?q=valerian+root+benefits&rlz=1C1VDKB_enUS963US963&oq=valerian&aqs=chrome.2.69i59j46i433i512j0i20i131i263i433i512j0i512l2j0i131i433i512j0i10i512j46i433i512j0i512.4007j0j9&sourceid=chrome&ie=UTF-8">Valerian Root</a></h2>
  <p>After analyzing 60 research studies published over nearly 40 years, researchers determined that valerian root can likely improve sleep and reduce anxiety in many people. Valerian root supplements have been found to help people fall asleep faster, improve their sleep quality, and spend more time in a deep sleep stage. To learn more about this hollistic herb, simply click on it's name above.</p>
 </div>
</div>

<div class="container-pod">
  <img class="image-pod" src="/images/Vitex Negundo.png">
  <div class="pod-content">
  <h2> <a href="https://trustherb.com/5-incredible-health-benefits-of-nirgundi-herb/">Vitex Negundo</a></h2>
  <p>Vitex negundo is of huge therapeutic importance and its leaves extract has been used as anti-inflammatory, analgesic and anti-itching agent in Ayurvedic tradition. Leaves extract of V. negundo are reported to have anti-hyperglycemic activity and hypouricemic activity as well. To learn more about this hollistic herb, simply click on it's name above.</p>
 </div>
</div>


    </div>
<!-- The Modal "Close" -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <form class="modal-content animate" >
        <div class="imgcontainer">
        <img src="/images/BOTPFP.png" alt="Avatar" class="avatar">
        </div>

    <div class="container">
      <label for="uname"><b>Username or email</b></label>
      <input type="text" placeholder="Enter Username or email" name="uname" required>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>

      <button type="submit" class="modal-button">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn modal-button">Cancel</button>
      <span class="password"></span> <a href="#">Forgot password?</a></span>
    </div>
  </form>
</div>
    <!---<footer>
      <a class="active" href="contact-us">Contact Us</a>
      <a href="#help">Help</a>
       <a href="#forums">Forums</a
    </footer>-->


  <script src="/js/holistic.js"></script>