<!-- layout -->
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
    
     <!-- <Main-photo at the top of the welcome page>-->
<!-- main -->
        <img class="main-image" src="/images/BPLBannerPic.jpg">
        <br>
        <br>
      
        <h1>Hello and Welcome to Botany Plants Lately!</h1>   
          <p>We are passionate about everything plants! Here you can identify the plants you have, find new beauties to add to your home or garden. We make it easy to learn how to care for them, their individual needs, their overall health and their hollistic properties.</p>
         <br>
        <br>
          <div class="container-pod">
            <button class="grp-button" id="button">Get Random Plant of the Day</button>
              <div class="randomPlant"></div> 
          </div>

        <div class="container-pod">
          <div class="pod-content">Plant Search</div>
            <div class="searchPlants"></div>
         
        </div>
 
    </div>
    <!-- The Modal "Close" -->
    <div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'"
    class="close" title="Close Modal">&times;</span>

    <!-- Modal Content -->
    <form class="modal-content animate" action="/action_page.php">
        <div class="imgcontainer">
        <img src="assets/images/BOTPFP.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
        <label for="uname"><b>Username or email</b></label>
        <input type="text" placeholder="Enter Username or email" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit" class="modal-button">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn modal-button">Cancel</button>
        <span class="psw"></span> <a href="#">Forgot password?</a></span>
        </div>
    </form>
    </div>
        <!---<footer>
        <a class="active" href="contact-us">Contact Us</a>
        <a href="#help">Help</a>
        <a href="#forums">Forums</a
        </footer>-->
  <script src="plant-search.js"></script>
  <script src="getRandomPlant.js"></script>
  <script src="/js/login.js"></script>