
<head>
  <link rel="stylesheet" href="/css/zodiac.css">
  <link rel="stylesheet" href="/css/Zlogin.css">
</head>
<body background="/images/ZodiacBG.jpg">
    <div class="container">  
      
     <!---- <Main-photo at the top of the welcome page>-->
        
        <h1>Did you know Zodiac Signs have their own plants?</h1>   
        <p>Every Zodiac sign has it's own plant and flower. You can even pick the best house plants for you or the lucky plants based off of your zodiac sign. We've compiled a list of these plants below, just find your sign and see which plants and flowers are for you!</p>

        <img class="zodiac-image" src="/images/Zodiac symbols.png">
        <br>
        <br>
      

        <div class="container-pod">
          <h1> Aries (Ram) March 21 - April 19</h1>
          <img class="image-pod" src="/images/AriesBF.png">
          <div class="pod-content">
          <h3>Birth Flower: HoneySuckle  </h3>
          
          <div class="wrapper">
          <h4><a href="https://mistydayplantpotions.co.nz/blog/aries-herbology">Herbology</a></h4>
          <h4><a href="https://toptropicals.com/html/toptropicals/articles/horoscope/aries.html">Aries Lucky Plants</a></h4>
          <h4><a href="https://houseplantshop.com/collections/aries">Aries Indoor Plants</a></h4>
          </div>

          <p>Aries being the first astrological sign, marks the new beginnings. They have the amazing ability to cope through difficult situations. Aries are go-getters and tend to exhibit exceptional enthusiasm. The endeavoring attributes of Aries pairs perfectly with the aromatic properties of the honeysuckle flower. Which blooms during the early spring season, portraying rebirth and new experiences. Popular for its cheery reddish-pink color and sweet fragrance, Honeysuckle is the perfect flower for the  youthful spirited Aries. </p>
          
          <a href="https://www.zodiacsign.com/zodiac-signs/aries/">Click here to learn more about Aries</a> 
          
         </div>
         
         <h1> Taurus (Bull) April 20 - May 20 </h1>
         <img class="image-pod" src="/images/TaurusBF.png">
         <div class="pod-content">
         <h3>Birth Flower: Lilies </h3>
          
         <div class="wrapper">
            <h4><a href="https://mistydayplantpotions.co.nz/blog/taurus-herbology">Herbology</a></h4>
            <h4><a href="https://toptropicals.com/html/toptropicals/articles/horoscope/taurus.html">Taurus Lucky Plants</a></h4>
            <h4><a href="https://houseplantshop.com/collections/taurus">Taurus Indoor Plants</a></h4>
         </div>

          <p>Taurus's are considered to be sensual, compassionate, and loving. Moreover, these people cherish being surrounded by loving people to rejoice in the feeling of being greatly loved. Also, these individuals tend to gravitate towards glamour, luxury, and beauty. For that reason, the charismatic Lily is the perfect match for the Taurus zodiac sign. Standing out for seductive appearance and smell, this flower wonderfully encapsulates all bold traits of Taurus's astrological star sign. </p>

          <a href="https://www.zodiacsign.com/zodiac-signs/taurus/">Click here to learn more about Taurus</a> 
          
         </div>
         
         <h1> Gemini (Twins) May 21 - June 21 </h1>
         <img class="image-pod" src="/images/GeminiBF.png">
         <div class="pod-content">
         <h3>Birth Flower: Lavender </h3>
         
         <div class="wrapper">
          <h4><a href="https://mistydayplantpotions.co.nz/blog/gemini-herbology">Herbology</a></h4>
          <h4><a href="https://toptropicals.com/html/toptropicals/articles/horoscope/gemini.html">Gemini Lucky Plants</a></h4>
          <h4><a href="https://houseplantshop.com/collections/gemini">Gemini Indoor Plants</a></h4>
        </div>
          
          <p>Geminis are fun-loving, social people. They are basically energetic personalities who grab attention. Loaded with mind-boggling fragrance, Lavender is the typical Gemini zodiac Flower. The trademark fragrance of this flower can grab the attention of people far and wide. Besides an essence of subtle elegance, this flower exactly matches the vibe of Geminis. Thus, Lavender's online flower delivery is a wonderfully unique, personalized present for Geminis astrological sign. </p>

          <a href="https://www.zodiacsign.com/zodiac-signs/gemini/">Click here to learn more about Gemini</a> 
         </div>
         <br>
         
         <h1> Cancer (Crab) June 22 - July 22 </h1>
         <img class="image-pod" src="/images/CancerBF.png">
         <div class="pod-content">
         <h3>Birth Flower: White Rose </h3>
         
         <div class="wrapper">
          <h4><a href="https://mistydayplantpotions.co.nz/blog/cancer-herbology">Herbology</a></h4>
          <h4><a href="https://toptropicals.com/html/toptropicals/articles/horoscope/cancer.html">Cancer Lucky Plants</a></h4>
          <h4><a href="https://houseplantshop.com/collections/cancer">Cancer Indoor Plants</a></h4>
        </div>
          
          <p>Cancers are known to be moon-babies; therefore, they deserve to be pampered with something pure and white like the moon. Well, the white rose fits perfectly in cancer zodiac flower. Symbolizing purity, innocence, and youthfulness, this delicate flower for cancer zodiac is the best. Its delicate petals highlight the sensitive side of people with this star sign. And its pure white canvas offers them the opportunity to explore their creative instinct. </p>

          <a href="https://www.zodiacsign.com/zodiac-signs/cancer/">Click here to learn more about Cancer</a> 
         </div>
         
         <h1> Leo (Lion) July 23 - August 22 </h1>
         <img class="image-pod" src="/images/LeoBF.png">
         <div class="pod-content">
         <h3>Birth Flower: Sunflower </h3>
        
         <div class="wrapper">
          <h4><a href="https://mistydayplantpotions.co.nz/blog/leo-herbology">Herbology</a></h4>
          <h4><a href="https://toptropicals.com/html/toptropicals/articles/horoscope/leo.html">Leo Lucky Plants</a></h4>
          <h4><a href="https://houseplantshop.com/collections/leo">Leo Indoor Plants</a></h4>
        </div>
         
          <p>Leos are confident, more social, and bold personalities. So, for their happy and cool behavior, the Leo birth flower that corresponds to their star sign must be an instant attraction. The Sunflower is a big nod to the LEO vibe. Featuring generously sized bloom, this flower is easily recognizable. By always heading towards the sun, these flowers grab all limelight, just like Leos. Moreover, exuding sun-like aesthetics, sunflower symbolizes potential to grab attention. </p>

          <a href="https://www.zodiacsign.com/zodiac-signs/leo/">Click here to learn more about Leo</a> 
         </div>
         
         <h1> Virgo (Virgin) August 23 - 
          September 22</h1>
         <img class="image-pod" src="/images/VirgoBF.png">
         <div class="pod-content">
         <h3>Birth Flower: Chrysanthemums </h3>
         
         <div class="wrapper">
          <h4><a href="https://mistydayplantpotions.co.nz/blog/virgo-herbology">Herbology</a></h4>
          <h4><a href="https://toptropicals.com/html/toptropicals/articles/horoscope/virgo.html">Virgo Lucky Plants</a></h4>
          <h4><a href="https://houseplantshop.com/collections/virgo">Virgo Indoor Plants</a></h4>
        </div>
         
          <p>Chrysanthemums are the Virgo star sign Flowers. The perfectionist and detail-oriented Virgos are likely to be fascinated by the sophisticated appeal of chrysanthemum. Also called chrysanths, these virgo zodiac flowers bloom before winter and stand strong during extremities of cold weather. Virgos, too, are very strong and resilient. They tend to find perfection in every job they undertake. Moreover, they have a keen eye for the smallest of details, similar to intricate and detailed chrysanthemums. 

            Nevertheless, these flowers are available in various colors, so you will definitely find the perfect match for the perfectionist Virgos in your life. </p>

            <a href="https://www.zodiacsign.com/zodiac-signs/virgo/">Click here to learn more about Virgo</a> 
         </div>
         
         <h1> Libra (Balance) September 23 - October 23 </h1>
         <img class="image-pod" src="/images/LibraBF.png">
         <div class="pod-content">
         <h3>Birth Flower: Roses </h3>
         
         <div class="wrapper">
          <h4><a href="https://mistydayplantpotions.co.nz/blog/libra-herbology">Herbology</a></h4>
          <h4><a href="https://toptropicals.com/html/toptropicals/articles/horoscope/libra.html">Libra Lucky Plants</a></h4>
          <h4><a href="https://houseplantshop.com/collections/libra">Libra Indoor Plants</a></h4>
        </div>
          
          <p>Being impartial, composed, and balanced is the Librans life objective.  These individuals are inclined to promote love and harmony. That's why the classic rose is their astrological flower. Representing unconditional love, romance, and beauty, Roses are best to pick for Libras. Roses are universally loved flowers, and because of their outstanding traits, they truly represent the community-loving Libra people. 

            Thus, birthday flower arrangements featuring red roses make an ideal Zodiac Flower gift for Libras in your life. </p>

            <a href="https://www.zodiacsign.com/zodiac-signs/libra/">Click here to learn more about Libra</a> 
         </div>
         
         <h1> Scorpio (Scorpion) October 24 - November 21 </h1>
         <img class="image-pod" src="/images/ScorpioBF.png">
         <div class="pod-content">
         <h3>Birth Flower: Geraniums </h3>
         
         <div class="wrapper">
          <h4><a href="https://mistydayplantpotions.co.nz/blog/scorpio-herbology">Herbology</a></h4>
          <h4><a href="https://toptropicals.com/html/toptropicals/articles/horoscope/scorpio.html">Scorpio Lucky Plants</a></h4>
          <h4><a href="https://houseplantshop.com/collections/scorpio">Scorpio Indoor Plants</a></h4>
        </div>
          
          <p>Scorpios are mysterious personalities; you can never know them completely. Living up to Scorpio's spirit, stand tall the dark red flowers. Encapsulating a mystique essence, rich-hued red flowers such as garden roses and geraniums truly resonate with the very nature of Scorpios. These people can hurt you when you least expect them to do so. 

            Hence, concerning their innate qualities, they tend to be fascinated by dark red flowers.</p>

            <a href="https://www.zodiacsign.com/zodiac-signs/scorpio/">Click here to learn more about Scorpio</a> 
         </div>
         
         <h1> Sagittarius (Archer) November 22 - December 21 </h1>
         <img class="image-pod" src="/images/TaurusBF.png">
         <div class="pod-content">
         <h3>Birth Flower: Carnations </h3>
         
         <div class="wrapper">
          <h4><a href="https://mistydayplantpotions.co.nz/blog/sagittarius-herbology">Herbology</a></h4>
          <h4><a href="https://toptropicals.com/html/toptropicals/articles/horoscope/sagittarius.html">Sagittarius Lucky Plants</a></h4>
          <h4><a href="https://houseplantshop.com/collections/sagittarius">Sagittarius Indoor Plants</a></h4>
        </div>
         
          <p>People with the star sign of Sagittarius are cheerful, happy, strong, and confident, just like Carnations Flower. These people are known for their lovable nature, so they connect with this popular wedding flower. 

            Carnations symbolize love and adventure. Moreover, they are the lasting flowers in an arrangement. Thus, just like vibrant Sagittarius Zodiac star sign, these flowers are sturdy in their growth. </p>

            <a href="https://www.zodiacsign.com/zodiac-signs/sagittarius/">Click here to learn more about Sagittarius</a> 
         </div>
         
         <h1> Capricorn (Goat) December 22 - January 19 </h1>
         <img class="image-pod" src="/images/CapricornBF.png">
         <div class="pod-content">
         <h3>Birth Flower: Pansy </h3>
         
         <div class="wrapper">
          <h4><a href="https://mistydayplantpotions.co.nz/blog/capricorn-herbology">Herbology</a></h4>
          <h4><a href="https://toptropicals.com/html/toptropicals/articles/horoscope/capricorn.html">Capricorn Lucky Plants</a></h4>
          <h4><a href="https://houseplantshop.com/collections/capricorn">Capricorn Indoor Plants</a></h4>
        </div>
          
          <p>Capricorns are legends; they don't age instead get better year by year.  People born under this Zodiac star sign are tenacious, determined, and love showing off the outcomes of their hard work, just like showy pansies. 

            Pansies fit perfectly with the unwavering determination of Capricorns. Exhibiting longevity and trueness, these are rightly the Capricorn Zodiac flowers. </p>

            <a href="https://www.zodiacsign.com/zodiac-signs/capricorn/">Click here to learn more about Capricorn</a> 
         </div>
         
         <h1> Aquarius (Water Bearer) January 20 - February 18 </h1>
         <img class="image-pod" src="/images/AquariusBF.png">
         <div class="pod-content">
         <h3>Birth Flower: Orchid </h3>
          
          <div class="wrapper">
            <h4><a href="https://mistydayplantpotions.co.nz/blog/aquarius-herbology">Herbology</a></h4>
            <h4><a href="https://toptropicals.com/html/toptropicals/articles/horoscope/aquarius.html">Aquarius Lucky Plants</a></h4>
            <h4><a href="https://houseplantshop.com/collections/aquarius">Aquarius Indoor Plants</a></h4>
          </div>
          
            <p>Exhibiting grace, delicacy, and yet being strong, Orchid is the trademark of true Aquarius spirit. These are forward-thinking individuals who prefer traversing the paths less traveled. Similarly, the sturdy, yet delicate-looking orchids are distinguishable and in tune with their surrounding environment. This fits the individualistic nature of the Aquarius with Orchids. </p>

          <a href="https://www.zodiacsign.com/zodiac-signs/aquarius/">Click here to learn more about Aquarius</a> 
         </div>
         
         <h1> Pisces (Fish): February 19 - March 20 </h1>
         <img class="image-pod" src="/images/PiscesBF.png">
         <div class="pod-content">
         <h3>Birth Flower: Water Lilies </h3>
          
         <div class="wrapper">
          <h4><a href="https://mistydayplantpotions.co.nz/blog/pisces-herbology">Herbology</a></h4>
          <h4><a href="https://toptropicals.com/html/toptropicals/articles/horoscope/pisces.html">Pisces Lucky Plants</a></h4>
          <h4><a href="https://houseplantshop.com/collections/pisces">Pisces Indoor Plants</a></h4>
        </div>
         
         <p>Water lilies are the official Pisces star sign Flower. Intuitive and delicate-natured, beautiful water lilies represent the Pisces' personalities. These people are known to be very artistic, dreamy, and sensitive. Their perception towards life is just like the environment water lily thrives. They go with the flow of life's river and share their sense of playfulness with everyone they meet through the path. </p>

          <a href="https://www.zodiacsign.com/zodiac-signs/pisces/">Click here to learn more about Pisces</a> 
    </div>
<!-- The Modal "Close" -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <form class="modal-content animate" action="/action_page.php">
    <div class="imgcontainer">
      <img src="/images/BOTPFP.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username or email</b></label>
      <input type="text" placeholder="Enter Username or email" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit" class="modal-button">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn modal-button">Cancel</button>
      <span class="psw"></span> <a href="#">Forgot password?</a></span>
    </div>
  </form>
</div>
    <!---<footer>
      <a class="active" href="contact-us">Contact Us</a>
      <a href="#help">Help</a>
       <a href="#forums">Forums</a
    </footer>-->


  <script src="/js/login.js"></script>
</body>
</html>

        

        
 