* {
    font-family: 'Delius Swash Caps', 'cursive';
}

body {
  background-color: rgb(216, 188, 151);
  font-family: 'paprika';
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Main photo container*/
.container-header {
    height: 20%;
    width: auto;
    border-color: black;
    border-radius: 5px;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    background-image: "assest/images/BPLBannerPic.jpg"
}

/* Main photo at the top of the page */
.create-image {  
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  object-fit: fill;
  height: 300px;
  width: 500px;
}

/* Welcome intro header */
h1 {
  justify-content: center;
  text-align: center;
  display: block; 
}

/* Welcome intro */
p {
  justify-content: center;
  text-align: center;
  display: block; 
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  color: rgb(78, 54, 18)
}

form {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  left: 60%;
}


/*Plant of the day container*/
.container-pod {
  border: 2px solid black;
  background-color: rgb(219, 201, 180);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

/*Plant of the day image place holder*/
.image-pod {
  width: 300px;
  height: 300px;
}

/*Plant of the day discription place holder*/
.pod-content {
 display: flex;
 flex-direction: column;
}

/*Plant of the day header*/
.pod-content h2 {
  margin-left: auto;
  margin-right: auto;
}
/* Navigation bar background color, size and placement */
.topnav {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: #ce9d70;
  color: white;
}

/* Nav bar links (styled) */
.topnav a {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  left: 60%;
}

/* Hover effect color */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* "Active" element styling*/
.topnav a.active {
  /*background-color: #208d51;*/
  color: rgb(255, 255, 255);
}
@media (max-width: 1250px) {
  /* Nav bar smaller screens */
.topnav input[type=search] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  width: 300px;
}
.btn-submit {
  float: right;
  justify-content: center;
  align-items: center;
  background-color: rgb(91, 182, 91);
  color: white;
  height: 40px;}
}

@media (min-width: 1251px) {
  /*Nav bar larger screens*/
.topnav input[type=search] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  width: 400px;

}
.btn-submit {
  float: right;
  justify-content: center;
  align-items: center;
  background-color: rgb(91, 182, 91);
  color: white;

}


}

/* Add padding to containers */
.container {
    padding: 16px;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit/register button */
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity:1;
  }
  
  .uploadbtn {
    width: 200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(91, 182, 91);
    color: white;
  
}
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }

