body {
    background-color: rgb(216, 188, 151);
    color: white
    
}

.student-profile .card {
    background-color: rgb(175, 143, 102);
    color: white;
    /*border-radius: 10px;*/
}

.student-profile .card .card-header .profile-img {
    color: white;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    /*border-radius: 50%;*/
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

/* Navigation bar background color, size and placement */
.topnav {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #ce9d70;
    color: white;
  }
  
  /* Nav bar links (styled) */
  .topnav a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    left: 60%;
  }
  
  /* Hover effect color */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* "Active" element styling*/
  .topnav a.active {
    /*background-color: #208d51;*/
    color: rgb(255, 255, 255);
  }
  @media (max-width: 1250px) {
    /* Nav bar smaller screens */
  .topnav input[type=search] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    width: 300px;
  }
  .btn-submit {
    float: right;
    justify-content: center;
    align-items: center;
    background-color: rgb(91, 182, 91);
    color: white;
    height: 40px;}
  }
  
  @media (min-width: 1251px) {
    /*Nav bar larger screens*/
  .topnav input[type=search] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    width: 400px;
  
  }
}

.uploadbtn {
    width: 200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(91, 182, 91);
    color: white;
  
}

.student-profile .card {
   /* border-radius: 10px;*/
   color: white;
}

.student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    color: white;
    /*border-radius: 50%;*/

}

.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Delius Swash Caps', 'serif';
}

.student-profile .card p {
    font-size: 16px;
    color: #000;
    font-family: 'Delius Swash Caps', 'serif';
    color: white;
}

.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
    font-family: 'Delius Swash Caps', 'serif';
    color: white;
}
.card-1 {
    font-size: 35px;
}
.card-2 {
    font-size: 20px;
}
.gap-3 {
    gap:1rem;
    

}