* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
  background-color: rgb(231, 206, 173);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Main photo container*/
.container-header {
    height: 20%;
    width: auto;
    border-color: black;
    border-radius: 5px;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    background-image: "assest/images/BPLBannerPic.jpg"
}

/* Main photo at the top of the page */
.main-image {  
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  object-fit: fill;
  height: 500px;
  width: 900px;
}

/* Welcome intro header */
h1 {
  justify-content: center;
  text-align: center;
  display: block; 
}

/* Welcome intro */
p {
  justify-content: center;
  text-align: center;
  display: block; 
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  color: rgb(143, 99, 34)
}

form {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  left: 60%;
}


/*Plant of the day container*/
.container-pod {
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

/*Plant of the day image place holder*/
.image-pod {
  width: 300px;
  height: 300px;
}

/*Plant of the day discription place holder*/
.pod-content {
 display: flex;
 flex-direction: column;
}

/*Plant of the day header*/
.pod-content h2 {
  margin-left: auto;
  margin-right: auto;
}
/* Navigation bar background color, size and placement */
.topnav {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: #ce9d70;
  color: white;
}

/* Nav bar links (styled) */
.topnav a {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  left: 60%;
}

/* Hover effect color */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* "Active" element styling*/
.topnav a.active {
  /*background-color: #208d51;*/
  color: rgb(255, 255, 255);
}
@media (max-width: 1250px) {
  /* Nav bar smaller screens */
.topnav input[type=search] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  width: 300px;
}
.btn-submit {
  float: right;
  justify-content: center;
  align-items: center;
  background-color: rgb(91, 182, 91);
  color: white;
  height: 40px;}
}

@media (min-width: 1251px) {
  /*Nav bar larger screens*/
.topnav input[type=search] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  width: 400px;

}
.btn-submit {
  float: right;
  justify-content: center;
  align-items: center;
  background-color: rgb(91, 182, 91);
  color: white;

}
}



/*footer {
  display: block;
  background-color: #3ea86e;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  width: 100%;
  border-top: 1px solid white;
  justify-content: center;
  align-items: center;
}

footer a {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
}*/

/* Search bar on-click properties*/
@media screen and (max-width: 600px) {
  .topnav a, .topnav okkinput[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}


