* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

body {
  background-color: rgb(2, 2, 2);

}

.wrapper{
  display: flex;
  flex-direction: row;
  /*justify-content:space-around ;*/
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Zodiac photo at the top of the page */
.zodiac-image {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    object-fit: fill;
    height: 400px;
    width: 600px;

}

/* Welcome intro header */
h1 {
  justify-content: center;
  text-align: center;
  display: block; 
  color: white;
}

/* Welcome intro */
p {
  justify-content: center;
  text-align: center;
  display: block; 
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

a {
  display: flex;
  justify-content: center;
  color:rgb(91, 182, 91)
}

form {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  left: 60%;
}


/*Plant of the day container*/
.container-pod {
   margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5px;
}

/*Plant of the day image place holder*/
.image-pod {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/*Plant of the day discription place holder*/
.pod-content {
 display: flex;
 flex-direction: column;
}

/*Plant of the day header*/
.pod-content h1 {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  color: white;
}

/*Plant of the day header*/
.pod-content h2 {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  color: white;
}

/*Plant of the day header*/
.pod-content h3 {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  color: white;
}

/*Plant of the day header*/
.pod-content h4 {
  margin-left: auto;
  margin-right: auto;
  display: center;
  /*justify-content: center;*/
    color: white;
}
/* Navigation bar background color, size and placement */
.topnav {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: #88c492;
}

/* Nav bar links (styled) */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  left: 60%;
}

/* Hover effect color */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* "Active" element styling*/
.topnav a.active {
  color: rgb(3, 3, 3);
}
@media (max-width: 1250px) {
   /* Nav bar smaller screens */
.topnav input[type=search] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  width: 300px;
}
.btn-submit {
  float: right;
  justify-content: center;
  align-items: center;
  background-color: rgb(91, 182, 91);
  color: white;
  height: 40px;}
}

@media (min-width: 1251px) {
   /*Nav bar larger screens*/
.topnav input[type=search] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  width: 400px;

}
.btn-submit {
  float: right;
  justify-content: center;
  align-items: center;
  background-color: rgb(91, 182, 91);
  color: white;

}
}

